#mw-globalrenamequeue-request {
	width: 80%;

	.mw-htmlform-field-HTMLCheckField > label {
		display: none;
	}

	.mw-htmlform-submit-buttons {
		.mw-ui-button {
			float: right;
			width: auto;
			margin-left: 0.5em;
		}

		#mw-renamequeue-cancel {
			float: left;
			margin: 0;
		}
	}
}
