#mw-globalrenamequeue-request {
  width:80%;

  label {
    font-weight:bold;
  }

  .mw-htmlform-submit-buttons {
    .mw-ui-button {
      float:right;
      width:auto;
      margin-left:.5em;
    }

    #mw-renamequeue-cancel {
      float:left;
      margin:0;
    }
  }

}
