.mw-globalrenamerequest-field label {
  font-weight:bold;
}
.mw-globalrenamerequest-help {
  font-size:smaller;
  color:grey;
  margin:-1em 0 .5em;
}
.mw-globalrenamerequest-field.mw-htmlform-field-HTMLInfoField .mw-input {
  display:inline;
  margin-left:.5em;
}
