#centralauth-edge-progressbar {
	text-align: center;
	white-space: nowrap;
}

#centralauth-edge-progressbar > * {
	vertical-align: middle;
}

#centralauth-edge-progressbar .ui-progressbar {
	display: inline-block;
	width: 400px;
}

#centralauth-edge-progressbar .ui-progressbar-value {
	background: #dfeffa; /* default white is ugly */
}

