# Map author and committer names and email addresses to canonical real names
# and email addresses.
Alexander Vorwerk <zabe@avorwerk.net>
Alexander Vorwerk <zabe@avorwerk.net> <alec@vc-celle.de>
Alexander Vorwerk <zabe@avorwerk.net> <alexander.vorwerk@stud.uni-goettingen.de>
Brooke Vibber <bvibber@pobox.com>
Brooke Vibber <bvibber@pobox.com> <bvibber@wikimedia.org>
Brooke Vibber <bvibber@pobox.com> <brion@wikimedia.org>
Brooke Vibber <bvibber@pobox.com> <brion@pobox.com>
Brooke Vibber <bvibber@pobox.com> <brion@users.mediawiki.org>
Taavi Väänänen <hi@taavi.wtf>
Taavi Väänänen <hi@taavi.wtf> <hi@tassu.me>
