[access]
	inheritFrom = mediawiki/extensions
[access "refs/*"]
	owner = group Administrators
	owner = group extension-CentralAuth
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[project]
	description = MediaWiki extension CentralAuth.
[allowSuperproject "mediawiki/extensions"]
	matching = refs/heads/REL1_27:refs/heads/REL1_27
[allowSuperproject "mediawiki/core"]
	matching = refs/heads/wmf/1.29.0-wmf.1:refs/heads/wmf/1.29.0-wmf.1
